@font-face {
    font-family: 'jockeyOne';
    src: url('../../../fonts/JockeyOne-Regular.ttf');
}


.tipografia{
    font-family: 'jockeyOne';
}


.sombreado{
    box-shadow: 0px 0px 10px black;
}


.fondoNegroEstandar{
    background-color: #313030 !important;
}


.fondoRojo{
    background-color: #CA0000 !important;
}


a:hover{
    color:#f70202 !important;
}


a:hover>svg{
    background-color: #f70202 !important;
}


/*Color de relleno para el icono de la Pokébal*/
#rellenoPokeball{
    fill: #313030;
}
