
@for (item of listGames; track item) {
    <div class="card border-0 jockey-one-regular mx-3 my-4" style="width: 290px;">
        
        <!--Parte superior-->
        <div class="tipoDominante${pokemonId} border-5 rounded-4 bordeCaja sombreado">
            <img src="" class="card-img-top rounded-4" alt="imgPokemon" id="imgCard">
        </div>
    
        <!--Parte inferior-->
        <div class="container d-flex justify-content-between card-body rounded-4 mt-1 px-2 fondoNegroEstandar sombreado">
            <!--Número y nombre-->
            <div class="ms-2">
                <p class="card-number m-0 mb-1" style="color: #C9C9C9">{{item.name}}</p>
                <h4 class="card-title blanco m-0 text-capitalize"></h4>
            </div>
           
        </div>
    
    </div>
}


