@font-face {
    font-family: 'jockeyOne';
    src: url('../../fonts/JockeyOne-Regular.ttf');
}


.tipografia{
    font-family: 'jockeyOne';
}


/*Tamaño estándar para la tipografía Jockey One*/
.tamanhoEstandar{
    font-size: 20px;
}


.sombreado{
    box-shadow: 0px 0px 10px black;
}


.bordeCaja{
    border-style: solid !important;
    border-color: #313030 !important;
}


.fondoNegro{
    background-color: #313030 !important;
}


.grisClaro{
    color: #C9C9C9 !important;
}


a:hover h5{
    color: #ff6b6b !important;
}