body{
    background-image: url("https://static.wikia.nocookie.net/4edf6693-39d6-4d5c-b426-59f4a9e6c382");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}