<a [routerLink]="['/item-detail', item!.id]" class="text-decoration-none">
    <div class="card border-0 mx-3 my-4" style="width: 290px;">
        <!--Parte superior-->
        <div class="border-5 rounded-4 bordeCaja sombreado" style="background-color: rgb(154, 214, 223, .4);">
            <img [src]="getImage(item!.name)" class="card-img-top rounded-4" [alt]="item!.name">
        </div>
        <!--Parte inferior-->
        <div class="container d-flex justify-content-between card-body rounded-4 mt-1 px-2 fondoNegro sombreado">
            <div class="ms-2">
                <h5 class="card-title text-light m-0 text-capitalize tipografia">{{ item!.name }}</h5>
            </div>

        </div>
    </div>
</a>